---

ansible_ssh_user: root

slapd_dir: '/etc/openldap'
slapd_domain: '{{ ansible_domain }}'
slapd_basedn: '{{ "dc=" + slapd_domain.split(".") | join(",dc=") }}'
slapd_backend: 'hdb'
slapd_admin_password: 'admin'
