---

ansible_ssh_user: root

slapd_dir: '/etc/openldap'
slapd_domain: '{{ ansible_domain }}'
slapd_basedn: '{{ "dc=" + slapd_domain.split(".") | join(",dc=") }}'
slapd_backend: 'hdb'
slapd_admin_password: 'admin'
slapd_cert_country: 'MyCountry'
slapd_cert_state: 'MyState'
slapd_cert_locality: 'MyCity'
slapd_cert_org: 'MyOrg'
slapd_cert_days: '3650'
